# Sprunge my output <command> | spaste and get url
alias spaste="curl -F 'sprunge=<-' http://sprunge.us"

alias lightdm="sudo lightdm"

alias cls='clear'

# Some ls aliases
alias ll='ls -alhF'
alias la='ls -A'
alias l='ls -CF'

# Friendly cd aliases
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'

alias PAGER='less -r'

alias h='history 10'

alias j='jobs -l'

#apt aliases
alias updt='sudo apt-get update && sudo apt-get upgrade'
alias cln='sudo apt-get autoremove && sudo apt-get autoclean && sudo apt-get clean'
alias pupd='sudo rkhunter --propupd && sudo updatedb'

alias p='pstree -p'
alias psc='ps xawf -eo pid,user,cgroup,args'
alias cp='rsync -aP'
alias twitter='turses'

# SSH aliases
alias hermes='ssh -p 303 pi@hermes'
alias poseidon='ssh -p 56789 bubblocean@poseidon'
alias zeus='ssh -p 52426 bubbl@zeus'
alias seba='ssh -p 55122 szebasztian@86.4.68.128'

# (s)FTP aliases
alias ftpzeus='sftp -P 52426 bubbl@zeus'
alias ftphermes='sftp -P 303 pi@hermes'
alias ftposeidon='sftp -P 56789 bubblocean@poseidon'
alias ftpseba='sftp -P 55122 szebasztian@86.4.68.128'

# Serial aliases
alias compi='minicom --color=on -D /dev/ttyUSB0 -b 115200 -o'
alias scrpi='sudo screen -A /dev/ttyUSB0 115200'

# Fast(er) shutdown/restart
alias haltme='sudo systemctl poweroff'
alias restart='sudo systemctl reboot'

# Pretty-print of some PATH variables:
alias path='echo -e ${PATH//:/\\n}'
alias libpath='echo -e ${LD_LIBRARY_PATH//:/\\n}'

alias du='du -kh'    # Makes a more readable output.
alias df='df -kTh'

alias m='less'
alias p='pstree -p'

alias unaliasall='unalias -a'
